<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lnmiitshoppingcomplex">

    <application
        android:allowBackup="true"
        android:icon="@drawable/stationaryb"
        android:label="@string/app_name"
        android:roundIcon="@drawable/stationaryb"
        android:supportsRtl="true"
        android:theme="@style/Theme.LNMIITShoppingComplex">
        <activity
            android:name=".Shops.StationaryShop.Menu.ManageEmployees"
            android:exported="false" />
        <activity
            android:name=".Shops.StationaryShop.Menu.AboutUs.AboutUs"
            android:exported="false" />
        <activity
            android:name=".Shops.StationaryShop.Menu.Settings"
            android:exported="false" />
        <activity
            android:name=".Shops.StationaryShop.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Startup.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".Shops.StationaryShop.StationaryShop"
            android:exported="false" />
        <activity
            android:name=".Startup.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage.MainActivity"
            android:exported="true" />
        <activity
            android:name=".AddItem"
            android:exported="false" />
    </application>

</manifest>